In [3]:
import os
os.getcwd()

'C:\\Users\\dinhv'

In [3]:
import pandas as pd
import numpy as np
nobel = pd.read_csv("nobel.csv")
#1a.
selected_nobel_col = ["Year","Category","Prize","Motivation","Laureate Type","Full Name","Birth Date","Birth Country","Birth City","Sex","Death Date"]
new_nobel = nobel[selected_nobel_col]

#1b. 

new_nobel["Laureate Type"].value_counts()

#1c. Adding the “Age” column

new_nobel["Age"] = 60

#1d.


new_nobel["Birth Date"] = new_nobel["Birth Date"].dropna(0)

new_nobel["Born Date"] = new_nobel["Birth Date"].str[:4]
new_nobel["Real Age"] = new_nobel["Year"] - pd.to_numeric(new_nobel["Born Date"])
new_nobel.head(n = 30)

#1e.
new_nobel.drop(columns = "Age", axis = 1, inplace = True)

#1f 
new_nobel["Real Age"].describe()

<ipython-input-3-5c759109ad81>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_nobel["Age"] = 60
<ipython-input-3-5c759109ad81>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_nobel["Birth Date"] = new_nobel["Birth Date"].dropna(0)
<ipython-input-3-5c759109ad81>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_nobel["Born Date"] = new_nobel["Birth Date"].str[:4]
<ipython-input-3-5c759109ad81>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_nobel["Real Age"] = new_nobel["Year"] - pd.to_numeric(new_nobel["Born Date"])

Individual      939
Organization     30
Name: Laureate Type, dtype: int64

In [88]:
#2
import pandas as pd
import numpy as np
nba_series = pd.read_csv("nba.csv", usecols = ["Salary", "Name"], index_col = "Name", squeeze = True)
nba_series.head()

#2a.
#John Holland: The Salary is NaN
nba_series.loc[['John Holland']]
#2b.
#Jonas Jerebko
nba_series.values(5000000)





#2c. 

def reports(result):
    mean = nba_series.mean(axis = 0)
    if result < mean:
        result = 'Below average'
    elif result > mean:
        result = 'Above average'
    elif result == mean:
        result = 'Average salary'
    else:
        result = 'No salary reported'
    return result

nba_series.apply(reports)

TypeError: 'numpy.ndarray' object is not callable

In [6]:
#3
#3a. 
#We could use both the Imputation Using Deep Learning (Datawig) 
#or the Imputation Using (Most Frequent) as these two support categorical features well. 
#However, Imputation Using (Most Frequent) might have the advantage over multiple categorical columns, large data sets, and under time constaint.

#3b.
#k-NN is sensitive to outliers
#Imputation by Chained Equation (MICE) fill missing data multiple times using differentvariable and data types arcoss all colums. (Check)

#3c. 
#Pro: Work well with categorical colums 
#Con: do not factor in correlation between columns when filling missing data
#Can make the data be bias

pandas.core.series.Series

In [87]:
#4
import pandas as pd
import numpy as np
nba = pd.read_csv("nba.csv")
nba.head()

#4a.
nba_sample = nba.sample(frac=.8)
nba_sample.info()

#4b. 
nba_sample.isna().sum()
#4c.
nba_sample.dropna(axis = 1, how = 'all', inplace = True)
#4d. 
nba_sample['College'].fillna(nba_sample['College'].value_counts().index[0], inplace = True)
nba_sample['Salary'].fillna(nba_sample['Salary'].mean(), inplace = True)
#4e.
nba_sample['Salary'] = nba_sample['Salary'].astype("int")
#fill na value in number column 
nba_sample['Number'].fillna(nba_sample['Number'].value_counts().index[0], inplace = True)
nba_sample['Number'] = nba_sample['Number'].astype("int")

#4f.
nba_sample['Position'].value_counts()
nba_sample['Position'] = nba_sample['Position'].astype("object")
#4g.
nba_sample['Team'].value_counts()
nba_sample['Team'] = nba_sample['Team'].astype("category")
#4h. 
nba_sample.info()
# Memory usage in the begining: 28.6 KB
# Memory usage in the the end: 24.5 KB
# I think the biggest change was I fill the na values in college to the most frequent name and in salary I change to the average values. Dropping all non columns and change types to integer helps reduce storage too. 
#4i

Mask = nba_sample["Age"] < 25
Mask1 = nba_sample["Age"] > 25
Mask2 = nba_sample["Age"] < 35
Mask3 = nba_sample["Age"] > 35 

Under_25 = nba_sample[Mask]["Salary"].mean()
Bet_25_35 = nba_sample[Mask1 & Mask2]["Salary"].mean()
Over_35 = nba_sample[Mask3]["Salary"].mean()

print('Average salary for age group under 25:', Under_25)
print('Average salary for age group between 25 and 35:', Bet_25_35)
print('Average salary for age group under 25:', Over_35)
print('Therefore, age group between 25 and 35 has the highest average salary in every sample:', Bet_25_35)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 366 entries, 158 to 385
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      365 non-null    object
 1   Team      365 non-null    category
 2   Number    366 non-null    int32
 3   Position  365 non-null    object
 4   Age       365 non-null    float64
 5   Height    365 non-null    object
 6   Weight    365 non-null    float64
 7   College   366 non-null    object
 8   Salary    366 non-null    int32
dtypes: category(1), float64(2), int32(2), object(4)
memory usage: 24.5+ KB
Average salary for age group under 25: 2689449.593220339
Average salary for age group between 25 and 35: 6755504.967213115
Average salary for age group under 25: 4115227.0
Therefore, age group between 25 and 35 has the highest average salary in every sample: 6755504.967213115